:root {
    --h1: 2rem;
    --h2: 1.5rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: .875rem;
    --h6: .75rem;

    --line-height-1: 1;
    --line-height-2: 1.125;
    --line-height-3: 1.25;
    --line-height-4: 1.5;
    --letter-spacing: 1;
    --caps-letter-spacing: .2em;
    --bold-font-weight: bold;

    --primary-dark-1: #21507A;
    --primary-dark-2: #1B486E;
    --primary-dark-3: #002F52;
    --primary-light-1: #E0DCDF;
    --primary-light-2: #CACAD2;
    --primary-light-3: #B2B4BF;
    --secondary-1: #5FAB9D;
    --secondary-2: #DB8674;

    --primary-text-dark: #262524;
    --primary-text-light: #FFF4F1;

    --space-1: .5rem;
    --space-2: 1rem;
    --space-3: 2rem;
    --space-4: 4rem;

}

* {
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: responsive;
  min-font-size: 16px;
  max-font-size: 22px;
  lower-font-range: 420px;
  upper-font-range: 1280px;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

h1 { font-size: var(--h1) }
h2 { font-size: var(--h2) }
h3 { font-size: var(--h3) }
h4 { font-size: var(--h4) }
h5 { font-size: var(--h5) }
h6 { font-size: var(--h6) }

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  appearance: none;
  font-smoothing: antialiased;
}

button,
input[type="checkbox"] {
  outline: none;
}

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.line-height-1 { line-height: var(--line-height-1) }
.line-height-2 { line-height: var(--line-height-2) }
.line-height-3 { line-height: var(--line-height-3) }
.line-height-4 { line-height: var(--line-height-4) }

.ReactStudio {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}

.NavigationLayout {
    margin-left: 0;
    margin-right: 0;
    position: relative;
    height: 100%;
    background-color: var(--primary-dark-1);
    color: var(--primary-light-1);
    padding: var(--space-1);
    flex: 0 0 300px;
}

.MainLayout {
    overflow: hidden;
    flex: 1 1 auto;
    height: 100%;
    align-content: stretch;
    align-items: stretch;
    background-color: var(--primary-dark-3);
}