.Stage {
    flex: 1 1 auto;
    margin: var(--space-2);
    height: auto;
}

.StageGrid {
    background-color: var(--primary-text-light);
    background-image: linear-gradient(var(--primary-light-1) 1px, transparent 1px),
                      linear-gradient(90deg, var(--primary-light-1) 1px, transparent 1px);
    background-size: 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px;
    height: 100%;
    text-align: center;
    padding: var(--space-4);
}